
<div>
  <h1 class="recipe-title">Recipes</h1>

  <div class="recipes">
    <% if @recipes.empty? %>
      <p class="">No recipes available! </p>
    <% else %>
      <% @recipes.each do |recipe| %>
        <div class="">
          <div class="recipe-item">
            <%= recipe.name %>
            <% if can? :delete, recipe %>
              <%= button_to "Destroy this recipe", recipe, method: :delete %>
            <% end %>
          </div>
          <div>
            <p><%= recipe.description %></p>
          </div>
          <p>
            <%= link_to "View Recipe", recipe, class: "view-recipe-button" %>
          </p>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= link_to "Add Recipe", new_recipe_path %> 
</div>
